body{width: 7.5rem;background-color: #f5f5f5;}
/**main*/
.main{padding:0 0.24rem 1rem;}
.main li{margin-top:0.2rem;background-color: #fff;border-radius:0.1rem;overflow: hidden;}
.main .item_id{font-size: 0.3rem;line-height: 0.9rem;margin-bottom:0.3rem;color:#333;padding-left: 0.22rem;border-bottom: 0.01rem solid #e5e5e5;}
.main .item_b{height:1.3rem;position:relative;}
.main .item_name{width:4.8rem;font-size: 0.32rem;line-height:0.52rem;color: #555;padding-left:0.62rem;background: url("../images/poi_y.png") no-repeat 0.26rem center;background-size:0.24rem;}
.main .item_other{width:4.8rem;font-size: 0.28rem;line-height:0.48rem;color: #777;padding-left:0.62rem;}
.main .wm_s{display: block;border:0.05rem solid #e5e5e5;position:absolute;width:1.09rem;height:1.09rem;top:-0.1rem;right:0.46rem;}
