.pay_top{font-size: 0.3rem;line-height: 1rem;overflow: hidden;background-color: #f6f6f6;position:fixed;top:0;z-index: 1;width:7.5rem;}
.pay_top p{text-align: center;}
.pay_top span{position:absolute;right:0;padding:0 0.5rem;top:0;font-size: 0.26rem;display: inline-block;}
.fh_trip{width: 0.18rem;position: absolute;padding:0.34rem 0.44rem;left:0;top: 0;}
.pay_msg {border-top: 1px solid #aaa;overflow:hidden;border-bottom: 1px solid #aaa;margin: 1rem 0 0.3rem 0;}
.msg_top {font-size: 0.3rem;line-height: 0.9rem;overflow: hidden;padding:0 0.5rem;}
.msg_top .pay_money{display:inline-block;font-size:0.45rem;}
.msg_mid {font-size: 0.26rem;line-height: 0.5rem;border-top: 1px solid #aaa;overflow: hidden;margin-left:0.26rem;padding:0.2rem 0.5rem 0.2rem 0.24rem;position: relative;}
.msg_mid p,.msg_mid .up{display: inline-block;float: left;}
.msg_mid .up{margin-right:0.4rem;}
.msg_mid p{padding-left: 0.5rem;}
.msg_mid p span{font-size: 0.28rem;}
.msg_mid .pay_start{background: url("../images/index_13.png") no-repeat left 0.12rem;background-size: 0.25rem;}
.msg_mid .pay_end{background: url("../images/index_16.png") no-repeat left 0.12rem;background-size: 0.25rem;}
.msg_mid .pay_line{position: absolute;height: 0.5rem;display: block;border-left: 1px solid #aaa;top: 0.7rem;left: 1.28rem;}

.pay_way,.ride_way{border-top:1px solid #aaa;border-bottom:1px solid #aaa;margin-bottom:0.3rem;}
.way_title,.ride_title{font-size:0.3rem;line-height: 0.9rem;border-bottom: 1px solid #aaa;padding: 0 0.5rem;}
.way_list{padding:0.3rem 0.5rem;overflow: hidden;}
/**选择乘坐方式*/

.ride_list li{font-size: 0.3rem;line-height: 1.1rem;margin-left:0.3rem;padding-left: 0.2rem;overflow: hidden;border-bottom: 1px solid #c7c7c7;}
.ride_list li p{float: left;}
.ride_list li span{float: right;width: 0.5rem;height: 0.5rem;background: url("../images/pay_05.png") no-repeat center bottom;background-size: 0.5rem;margin: 0.3rem 0.5rem 0 0.3rem;}
.ride_list li i{display:block;float:right;font-style: normal;font-size: 0.34rem;line-height: 1.1rem;color:#ff4f00;}
.ride_list li .selected{background-position:center top;}

/**选择支付方式*/
.way_list li{font-size: 0.3rem;line-height: 0.9rem;padding-left: 0.7rem;overflow: hidden;}
.way_list li p{float: left;}
.way_list li span,.ticket span{float: right;width: 0.5rem;height: 0.5rem;background: url("../images/pay_05.png") no-repeat center bottom;background-size: 0.5rem;margin-top: 0.2rem;}
.way_list li .selected,.ticket .selected{background-position:center top;}
.way_list .zfb{background:url("../images/pay_03.png") no-repeat left center;background-size: 0.57rem;}
.way_list .wx{background:url("../images/pay_08.png") no-repeat left center;background-size: 0.57rem;}
.way_list .xj{background:url("../images/pay_11.png") no-repeat left center;background-size: 0.57rem;}

.ticket{border-top: 1px solid #aaa;border-bottom: 1px solid #aaa;overflow: hidden;padding:0 0.5rem;margin-bottom:2rem;font-size: 0.3rem;line-height: 1.1rem;}
.ticket span{margin-top: 0.255rem;}
.pay_bot{position: fixed;bottom: 0;width: 7.5rem;margin: 0 auto;font-size: 0.3rem;}
.pay_bot p{line-height: 1.08rem;border-top: 1px solid #aaa;text-align: center;display: inline-block;width: 3.75rem;}
.pay_bot .all_money{font-size: 0.35rem;line-height: 1rem;display: inline-block;}
.pay_bot .go_pay{border-top: 1px solid #fd4e00;width: 3.75rem;line-height: 1.08rem;display: inline-block;text-align: center;}

.close_trip{position: fixed;width: 5.3rem;font-size:0.3rem;height: 5rem;left: 50%;top: 50%;margin:-2.5rem 0 0 -3.35rem;display:none;padding:0 0.7rem;border-radius:0.2rem;z-index: 200;}
.close_top{width: 1.5rem;height: 1.5rem;border-radius: 50%;margin: 0.46rem auto 0;position: relative;}
.chang{position: absolute;width: 0.09rem;height: 0.46rem;left: 0.7rem;top:0.4rem;}
.dian{width: 0.12rem;height: 0.12rem;border-radius: 50%;position: absolute;bottom: -0.2rem;left: -0.01rem;}
.close_trip p{text-align: center;font-size: 0.3rem;width: 100%;line-height: 0.9rem;}
.close_trip a{display: inline-block;border: 2px solid #ff4f00;line-height: 1.02rem;width: 2.34rem;border-radius: 0.1rem;text-align: center;}
.close_yes{margin-left: 0.4rem;}
.c_333{color:#333;}
.bc_333{background-color: #333;}
.c_7c{color:#7c7c7c;}
.bc_7c{background-color:#7c7c7c;}
.c_or{color:#fd4e00;}
.bc_or{background-color:#fd4e00;}
.c_f5{color:#f5f5f5;}
.bc_f5{background-color:#f5f5f5;}
.c_fff{color: #fff;}
.bc_fff{background-color: #fff;}
.c_f0{color: #f0f0f0;}
.bc_f0{background-color: #f0f0f0;}
.c_f7{color: #f7f7f7;}
.bc_f7{background-color: #f7f7f7;}
.bc_a{background-color: #aaa;}
.c_a{color: #aaa;}
.bg_0{background-color: #000;opacity: 0.8;}
.c_blue{color: #0c9ef1;}
.c_95{color: #959494;}
.f_r{float: right;}
.f_l{float: left;}
