/* 样式重置 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,dl, dt, dd, ol, ul, li,i,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { margin:0;  padding:0; border:0; outline:0; vertical-align:baseline; background:transparent;}

body{ font-family:"Microsoft Yahei";}
/* 清理浮动 */
.clearfix:after {
	/*visibility:hidden;*/
	content:" ";
	display:block;
	font-size:0;
	clear:both;
	height:0;
}
.clearfix {
	zoom:1; /* for IE6 IE7 */
}
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { display:block;}

li { list-style:none;}

blockquote, q {quotes:none;}

blockquote:before, blockquote:after,q:before, q:after {  content:''; content:none;}

a { margin:0; padding:0; font-size:100%; vertical-align:baseline;  background:transparent; text-decoration:none;}
ins {  background-color:#ff9; color:#000; text-decoration:none;}
em{font-style: normal;}
mark {  background-color:#ff9; color:#000;   font-style:italic; font-weight:bold;}

del { text-decoration: line-through;}

abbr[title], dfn[title] {  border-bottom:1px dotted #000;  cursor:help;}

table { border-collapse:collapse; border-spacing:0;}

hr { display:block; height:1px; border:0;  border-top:1px solid #cccccc; margin:1em 0; padding:0;}

input, select,button{ vertical-align:middle; outline: none;}

.f_r{float: right;}

.f_l{float: left;}

body input, input[type="button"], input[type="text"], input[type="tel"],input[type="number"], input[type="password"] {-webkit-appearance: none;border-radius: 0;padding: 0;}
textarea {  -webkit-appearance: none;}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {-webkit-appearance: none !important;margin: 0;}
/**单行超出省略号*/
.over_ellipsis{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
/**消息提示*/
.msg_show{padding: 0.3rem;border-radius: 0.1rem;background-color: #000000;text-align: center;position: fixed;left: 50%;top:50%;transform: translate(-50%,-50%);z-index: 222;}
.msg_show p{font-size: 0.28rem;line-height: 0.48rem;color: #fff;}
.mask_w{width:100%;height: 100%;background-color: #000;opacity: 0.3;position: fixed;top:0;z-index: 210;}

.mask{width:100%;height: 100%;background-color: #000;opacity: 0.5;position: fixed;top:0;z-index: 100;display: none;}