/* 样式重置 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,dl, dt, dd, ol, ul, li,i,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { margin:0;  padding:0; border:0; outline:0; vertical-align:baseline; background:transparent;font-style: normal;font-weight: normal;}

body{ font-family:"Microsoft Yahei";}
/* 清理浮动 */
.clearfix:after {
	/*visibility:hidden;*/
	content:" ";
	display:block;
	font-size:0;
	clear:both;
	height:0;
}
.clearfix {
	zoom:1; /* for IE6 IE7 */
}
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { display:block;}

li { list-style:none;}

blockquote, q {quotes:none;}

blockquote:before, blockquote:after,q:before, q:after {  content:''; content:none;}

a { margin:0; padding:0; font-size:100%; vertical-align:baseline;  background:transparent; text-decoration:none;}
ins {  background-color:#ff9; color:#000; text-decoration:none;}
em{font-style: normal;}
mark {  background-color:#ff9; color:#000;   font-style:italic; font-weight:bold;}

del { text-decoration: line-through;}

abbr[title], dfn[title] {  border-bottom:1px dotted #000;  cursor:help;}

table { border-collapse:collapse; border-spacing:0;}

hr { display:block; height:1px; border:0;  border-top:1px solid #cccccc; margin:1em 0; padding:0;}

input, select,button{ vertical-align:middle; outline: none;}


.f_r{float: right;}

.f_l{float: left;}

html,body{font-size:14px; min-width: 1200px;width: expression_r( document.body.clientWidth < 1201 ?"1200px" : "auto" );margin: 0 auto;}

.mask{width:100%;height: 100%;background-color: #000;opacity: 0.5;position: fixed;top:0;left:0;z-index: 100;display: none;}

.c_or{color: #fd4f00;}
.c_36{color: #363636;}
.c_53{color: #535353;}
.c_7c{color: #7c7c7c;}
.c_c7{color: #c7c7c7;}
.c_ff{color: #fff;}
.c_10{color: #101010;}
.c_e5{color: #e5e5e5;}

.bc_f0{background-color: #f0f0f0;}
.bc_ff{background-color: #fff;}
.bc_5e{background-color: #5e5e5e;}
.bc_00{background-color: #000;}
input[type="button"], input[type="text"], input[type="tel"], input[type="password"] {
	-webkit-appearance: none;
	border-radius: 0;
	padding: 0;
}
textarea {  -webkit-appearance: none;}