
.header_inner{width: 1200px;margin: 0 auto;}
.header_left{float: left;padding: 22px 0 18px 0;}
.header_left h1{line-height:36px;font-size: 22px;cursor: pointer;color:#fd4f00;background:url("../images/logo.png") no-repeat left center;padding-left:40px;}
.header_left h2{line-height:22px;font-size: 12px;}
.header_name{font-size:24px;line-height: 40px;color: #363636;float:left;margin-left: 12px;margin-top:28px;padding-left: 12px;border-left:2px solid #aaa; }
.header_right{float: right;margin-right: 16px;padding: 41px 0;}
.header_right a{display: block;float: left;font-size: 14px;line-height:14px;height:14px;color: #363636;margin: 0 4px;cursor: pointer;}
.header_right i{height: 14px;border-left: 2px solid #aaa;display: block;float: left;}
/*main*/
.main{background: #fff url("../images/login_bg.jpg") no-repeat center;height:630px;}
.main_inner{width: 1200px;margin: 0 auto;padding-top:52px; }
.main_warp{padding: 50px 38px;width:342px;background-color: #fff;margin-left: 390px;}
.main_warp input{width:316px;border: 1px solid #d5d5d5;border-radius:4px;color:#7c7c7c;margin-bottom:24px;line-height: 14px;height:14px;font-size: 14px;padding:19px 12px;}
.yzm{position: relative;}
.yzm input{width: 166px;float: left;}
.yzm .yzm_btn{width: 140px;float: right;text-align:center;border: 1px solid #0c9ef3;background-color:#0c9ef3;border-radius:4px;color:#fff;cursor:pointer;line-height: 14px;height:14px;font-size: 14px;padding:19px 0;}
.yzm .yzm_btn2{border: 1px solid #d5d5d5;background-color:#f6f6f6;color:#7c7c7c;cursor: no-drop;}
.sure{font-size: 12px;color:#535353;line-height: 30px;text-align: center;}
.sure i{display:inline-block;margin-right:5px;width: 12px;height: 12px;cursor:pointer;background: url("../images/radio_03.png") no-repeat left center;}
.sure .sel_radio{background-position:right center;}
.sure span{cursor:pointer;}
.register_btn{display: block;width:342px;border-radius: 4px;background-color: #fd4f00;color: #fff;margin-top:10px;text-align: center;line-height:56px; }
.msg_tel{position: absolute;top: -27px;display: block;line-height: 30px;left: 0;color: #fd4f00;font-size:14px;z-index: 10;}
.msg_btn1{position: absolute;bottom:-2px;display: block;line-height: 30px;left: 0;color: #fd4f00;font-size:14px;z-index: 100;}
.msg_word1{position: absolute;bottom:-80px;display: block;line-height: 30px;left: 0;color: #fd4f00;font-size:14px;z-index: 100;}
.msg_word2{position: absolute;bottom:-157px;display: block;line-height: 30px;left: 0;color: #fd4f00;font-size:14px;z-index: 100;}
/*copy*/
.copy_inner{width:1200px;margin:0 auto;text-align: center;padding: 26px 0 17px 0;border-bottom: 1px solid #d5d5d5;}
.copy_inner p,.copy_inner span{font-size: 12px;line-height: 22px;color: #e5e5e5;}
.copy_inner .police{padding-left: 25px;background: url("../images/police.png") no-repeat left center;display: inline-block;}
.copy_pic{text-align: center;padding: 20px 0;width: 1200px;margin: 0 auto;}
.copy_pic img{display:inline-block;margin-right:20px;vertical-align: bottom;}
.copy_pic .c_p_last{margin: 0;}