html,body{max-width: 100%;}
.state_poi,.car_poi{width: 0.3rem;height: 0.28rem;border-radius: 50%;background-color: #119418;display: block;font-style: normal;font-size:0.14rem;line-height:0.28rem;padding-top:0.02rem;text-align: center; color: #fff;}
.car_poi{background-color: #ec584e;}
 /**隐藏高德空间*/
.amap-toolbar,.amap-logo,.amap-copyright,.amap-mcode{visibility:hidden;}
.the_header{font-size: 0.3rem;line-height: 1rem;overflow: hidden;background-color: #ec584e;position:fixed;top:0;transform: translatex(-50%);left:50%;z-index: 100;width:7.5rem;}
.the_header p{text-align: center;color:#fff;}
.the_header .header_left{width: 0.2rem;position: absolute;padding:0.34rem 0.4rem;left:0;top: 0;}
