.pay_top{font-size: 0.3rem;line-height: 1rem;overflow: hidden;background-color: #f6f6f6;border-bottom:1px solid #aaa;position:fixed;top:0;z-index: 1;width:7.5rem;}
.pay_top p{text-align: center;}
.fh_trip{width: 0.18rem;position: absolute;padding:0.34rem 0.44rem;left:0;top: 0;}
.top_msg{padding: 1.2rem 0 0.2rem;background-color:#fff; }
.top_msg p{font-size: 0.28rem;line-height: 0.4rem;text-align: center;color:#999;}

/**main_list*/
.main_title,.ride_title{font-size:0.3rem;line-height: 0.9rem;border-top: 1px solid #aaa;border-bottom: 1px solid #aaa;padding: 0 0.5rem;background-color: #fff;}
.main_list{padding:0 0 0 0.3rem;background-color: #fff;margin-bottom: 0.4rem;border-top:1px solid #aaa;border-bottom:1px solid #aaa;}
.main_list li{border-bottom: 1px solid #aaa;overflow: hidden;padding-right: 0.7rem;}
.main_list li:last-child{border-bottom:none;}
.main_list .sel_xsj{background:url("../images/go_l_03.gif") no-repeat 6.7rem 0.28rem;background-size: 0.2rem;}
.main_list li p{font-size: 0.3rem;line-height: 1rem;color: #555;float: left;padding-left: 0.5rem;background: url("../images/line.gif") no-repeat left center;background-size:0.4rem; }
.main_list li span{font-size: 0.3rem;line-height: 1rem;color: #555;float:right;width: 4rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;text-align: right;}
.main_list .start_poi p{background-image: url(../images/start.gif);}
.main_list .end_poi p{background-image: url(../images/end.gif);}
.main_list .the_date p{background-image: url(../images/date.gif);}
.main_list .the_time p{background-image: url(../images/clock.gif);}
.main_list .peo_num p{background-image: url(../images/num.gif);}

/**选择乘坐方式*/
.ride_list{margin-bottom: 2.5rem;border-bottom: 1px solid #aaa;}
.ride_list li{font-size: 0.3rem;line-height: 1.1rem;margin-left:0.3rem;overflow: hidden;border-bottom: 1px solid #aaa;}
.ride_list li:last-child{border-bottom:none;}
.ride_list li p{float: left;padding-left: 0.5rem;background: url("../images/pin.gif") no-repeat left center;background-size:0.4rem; }
.ride_list .w_sw p{background-image: url(../images/swx.gif);}
.ride_list .w_jj p{background-image: url(../images/jj.gif);}
.ride_list li span{float: right;width: 0.5rem;height: 0.5rem;background: url("../images/pay_05.png") no-repeat center bottom;background-size: 0.5rem;margin: 0.3rem 0.5rem 0 0.3rem;}
.ride_list li i{display:block;float:right;font-style: normal;font-size: 0.34rem;line-height: 1.1rem;color:#ff4f00;}
.ride_list li .selected{background-position:center top;}
/**yue_btn*/
.yue_btn{position:fixed;bottom:0;width: 7.5rem;background-color: #fff;border-top: 1px solid #aaa;}
.yue_btn button{width: 6.8rem;background:#fd4e00;font-size:0.3rem;color: #fff;text-align: center;line-height: 0.8rem;border-radius: 0.1rem;border:none;display:block;margin:0.2rem auto;}
/**选择列表**/
.sel_box{display:none;width: 5.8rem;border-radius: 0.1rem;border:1px solid #aaa;background-color: #fff;position: fixed;z-index:110;top:50%;left:50%;transform: translate(-50%,-50%);}
.sel_top{position: relative;border-bottom: 1px solid #aaa;}
.sel_top p{font-size:0.26rem; color:#333;line-height: 0.9rem;text-align: center;}
.sel_top span{font-size:0.24rem;color:#666;line-height: 0.9rem;padding:0 0.2rem;position: absolute;right: 0;top:0;}
.sel_list{padding-left: 0.2rem;height:4rem;overflow: auto;}
.sel_list li{border-bottom: 1px solid #aaa;overflow: hidden;}
.sel_list li i{width:0.4rem;margin:0.2rem 0.1rem;height: 0.4rem;display: block;float: left;background: url("../images/pay_05.png") no-repeat center bottom;background-size: 0.4rem;}
.sel_list li .sel_item{background: url("../images/pay_05.png") no-repeat center top;background-size: 0.4rem;}
.sel_list li p{font-size:0.24rem;line-height: 0.8rem;float: left;color: #999;margin-left: 0.2rem;}
.sel_list li span{display:block;font-size:0.18rem;line-height: 0.4rem;float:right;margin:0.2rem;padding:0 0.1rem;border-radius:0.1rem;color: #fff;background-color:#fd4e00;}
/**先选择城市*/
.city_select{position:fixed;top: 0;bottom:0;overflow: auto;width: 7.5rem;background-color:#fff;margin: 0 auto;display:none;z-index: 2;}
.city_top{border-bottom:1px solid #aaa;position:fixed;top: 0;width: 7.5rem;height:0.9rem;margin: 0 auto;z-index: 1000;}
.city_fh{display:block;position: absolute;font-size:0.26rem;padding: 0 0.44rem;line-height:0.9rem;right:0;top: 0;}
.city_sel{display:block;color:#333;text-align:center;padding: 0 0.1rem;width:1.8rem;border-right:1px solid #d5d2d2;font-size: 0.3rem;line-height: 0.5rem;margin:0.2rem 0;float: left;}
.city_top .city_title,.city_top .city_pin{font-size: 0.28rem;padding-left:0.2rem;width:4rem;line-height: 0.9rem;float: left;background-color: transparent;border:none;}
#tip{display: none;}

#panel {background-color: white;width: 7.5rem;margin:0 auto;overflow:auto;left: 0; top:0;bottom:0;position:relative;margin-top:1rem;z-index: 100;}
.city_p{height:10rem;padding-top: 0.9rem;}
.city_p .city_point,.poibox,.active{margin: 0 0.2rem;border-bottom: 1px solid #aaa;font-size: 0.3rem;padding:0.1rem 0.2rem ;}
.city_p .city_point p,.poi-name{line-height: 0.4rem;padding-top: 0.2rem;color: #333;font-size: 0.32rem;}
.city_p .city_point span,.poi-addr{display:block;font-size:0.24rem;line-height:0.5rem; color:#c7c7c7;}
/***/
body .amap-sug-result{display: none;}
body .amap-sug-result{display:block;width:7.5rem;border:none;position: relative;bottom:0;overflow: auto;}
#panel .amap-sug-result{margin-left:0;}
body .amap-sug-result .auto-item{margin: 0 0.2rem;border-bottom: 1px solid #aaa;font-size: 0.3rem;padding-left: 0.2rem;}
body .amap-sug-result .auto-item .auto-item-span{display:block;font-size:0.24rem;line-height:0.5rem; color:#c7c7c7;}
body .amap_lib_placeSearch{display:block;width:7.5rem;border: none;}
body .amap_lib_placeSearch_page{display:none;}
body .amap_lib_placeSearch_poi,body .poi-more,body .poi-tel{display:none;}
body .amap_lib_placeSearch .poibox{padding: 0;}
body .amap_lib_placeSearch .poibox .poi-title{line-height: 0.3rem;padding-top: 0.2rem;}
body .amap_lib_placeSearch .poibox .poi-info p{line-height: 0.5rem;}
.amap_lib_placeSearch .poibox.active, .amap_lib_placeSearch .poibox.hover, .amap_lib_placeSearch .poibox:hover{background-color: #fff;}
/**输入提示*/
#input_auto{display: none;background-color: white;width: 7.5rem;margin:0 auto;overflow:auto;left: 0; top:0;bottom:0;position:relative;margin-top:1rem;z-index: 102;}


.bc_f5{background-color:#f5f5f5;}
.c_333{color:#333;}
.c_or{color:#fd4e00;}
.c_95{color: #959494;}
